@import "fonts";
@import "_colors";
@import "_mixins";

body {
  padding: 0;
  margin: 0;
  font: 15px "Soho Gothic Pro", Helvetica, Arial, sans-serif;
}

a {
  color: $main-blue;
}

.page {
  padding: 30px 0 0 0;
  background-color: #fff;
  font-family: "Soho Gothic Pro";
  font-size: 15px;
}

.page-paragraph {
  font: 15px "Tahoma";
  font-weight: 400;
  margin: 12px 0;
  line-height: 120%;
  color: #333;
}
.page-lead {
  @extend .page-paragraph;
  font: 16.59px "Soho Gothic Pro Medium";
  text-align: center;

  padding: 1px 25px 1px 20px;
  margin: 30px 0;

  color: #333;
}
.page-callout {
  margin: 0 35px;
  border-radius: 3px;
  padding: 15px 30px;
  background-color: #4e97c9;
  font: 17px "Soho Gothic Pro Medium";
  line-height: 160%;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
  text-align: center;

  @include responsive(320) {
    font: 14px "Soho Gothic Pro", Arial, sens-serif;
    margin: 0 10px;
    padding: 10px 20px;
  }
}
.page-phone-number {
  text-decoration: none;
  white-space: nowrap;
  font: 17px "Soho Gothic Pro Medium";
  line-height: 160%;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
  padding: 0 5px;
  margin: 0 5px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
  border-radius: 3px;
  @include linearGradient($button_normal_gradient_top_color, $button_normal_gradient_bottom_color);

  &__prefix {
    font: 12.59px "Soho Gothic Pro Medium";
  }
}

.page-container {
  margin: 0 auto;
  width: 925px;
  padding: 0 30px;
  box-sizing: border-box;

  @media screen and (max-width: 984px) {
    width: 900px;
  }

  @for $i from 1 through length($page_widths) - 1 {
    $w: nth($page_widths, $i);
    $next_w: nth($page_widths, $i + 1);
    $next_w_max: $w - 1;

    @media screen and (max-width: #{$next_w_max}px) {
      width: #{$next_w}px;
    }

    @at-root .w#{$w} & {
      width: #{$next_w}px!important;
    }
  }

  @media screen and (max-width: 399px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 279px) {
    width: 280px;
    padding: 2px;
  }
}